@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    line-height: 2.2;
    font-size: 0.875rem;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #49243E;
}

i {
    font-size: 3rem;
    color: #637df1
}

nav {
    background: #f7f7f7;
    box-shadow: 0 5px 15px #92832e;
}

.nav-main {
    max-width: 95%;
    margin: 0 .2rem 0 .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px
}

.menu {
    height: auto;
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.menu a {
    color: #637df1;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
}

.menu a:hover {
    background: #d6c6c3;
    color: #201c1b;
}

.welcome-msg {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}